@media screen and (max-width: 1130px){
    .main-container { 
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    .header-wrapper {
        padding: 18px 0;
    }
    .title {
        font-size: 22px;
    }
    .date {
        padding: 18px 0;
    }
    .form-task {
        width: 90%;
    }
    .form-title {
        font-size: 28px;
    }    
}
@media screen and (max-width: 486px){
    .task{
        font-size: 14px;
    }
    .task-list__item{
        padding: 12px 0;
    }
    .task-checkbox{
        margin-right: 15px;
    }
    .button-add {
        width: 38px;
        height: 38px;
        right: 0px;
    }
    .task-button {
        font-size: 14px;
    }
    .date-date {
        font-size: 38px;
    }
    .date-month,
    .date-year,
    .date-day {
        font-size: 14px;
    }
}