* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

a,button{
    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: all ease-in .2s;
}
.app{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.container{
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
}
.header{
    background-color: #609FFF;
}
.header-wrapper{
    display: flex;
    padding: 32px 0;
}
.title{
    font-size: 24px;
    font-weight: 700;
    color: #ffff;
}
.date{
    display: flex;
    align-items: center;
    padding: 24px 0;
}
.date-date{
    font-size: 44px;
    font-weight: 400;
}
.date-month,
.date-year,
.date-day{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.date-day{
    margin-left: auto;
}
.date-year{
    font-size: 16px;
    font-weight: 400;
    color: #545454;
}
.main-container{
    margin: 0px auto;
    width: 100%;
    max-width: 1024px;
    position: relative;
    padding-bottom: 56px;
}
.button-add{
    background-color: #609FFF;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    color: #ffff;
    position: absolute;
    bottom: 5px;
    right: 15px;
    z-index: 2;
}
.button-add:hover{
    background-color: rgba(96, 159, 255, .8);
}
.task-list__item{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #DEDEDE;

}

.task-checkbox{
    margin-right: 20px;
}
.task{
    margin-right: auto;
}
.task--completed{
    margin-right: auto;
    color: #82828283;
    text-decoration: line-through;
}
.task-button{
    font-size: 16px;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 5px 5px;
    margin-left: 10px;
    background-color: transparent;
}
.task-button--edit{
    color:#3EF520;
}
.task-button--delete{
    color:#f55c20;
}
.task-button--edit:hover{
    color:#1cd100;
    border-bottom: 1px solid #1cd100;
}
.task-button--delete:hover{
    color:#e24000;
    border-bottom: 1px solid #e24000;
}
/*************/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-task{
    padding: 20px;
    background-color: #ffff;
    border-radius: 3px;
    width: 100%;
    max-width: 600px;
}
.form-title{ 
    font-size: 30px;
    font-weight: 700;
    color: #545454;
    padding-bottom: 20px;
}
.form-pescription{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #000000;
    padding-bottom: 20px;
}
.form-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #DEDEDE;
    padding: 5px 10px;
    margin-bottom: 22px;
    outline: none;
}
.form-button-wrapper{
    text-align: end;
}
.form-button{
    font-size: 16px;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 5px 5px;
    margin-left: 10px;
    background-color: transparent;
}
.form-button--cancel{
    color: #828282;
}
.form-button--cancel:hover{
    color: #1f1f1f;
    border-bottom: 1px solid #828282;
}
.form-button--add{
    color: #609FFF;
}
.form-button--add:hover{
    color: #2b80ff;
    border-bottom: 1px solid #2b80ff;
}
.form-button--edit{
    color: #3EF520;
    
}
.form-button--edit:hover{
    color: #1cd100;
    border-bottom: 1px solid #1cd100;
}
/*Empty state*/
.empty-state{
    display: flex;
    justify-content: center;
}
.empty-state__content{
    margin-top: 10%;
    color: #545454d3;
}
/*footer*/
.footer{
    border-top: 1px solid #ececec;
}
.copyright{
    font-size: 14px;
    color: #828282;
    text-align: center;
    padding: 12px 0;
}

